CompileFlags:
  Add:
    - -std=c++20
    - -I../../cdeps/esphome-repo
    - -I../../cdeps/ArduinoJson/src
    - -I../../cdeps/esp-idf/components/esp_driver_i2s/include
    - -I../../cdeps/esp-idf/components/esp_hal_i2s/include
    - -I../../cdeps/esp-idf/components/esp_hal_gpio/include
    - -I../../cdeps/esp-idf/components/esp_common/include
    - -I../../cdeps/esp-idf/components/esp_rom/include
    - -I../../cdeps/esp-idf/components/soc/include
    - -I../../cdeps/esp-idf/components/heap/include
    - -I../../cdeps/esp-idf/components/soc/esp32s3/include
    - -I../../cdeps/esp-idf/components/esp_system/test_eh_frame_parser
    - -I../../cdeps/esp-idf/components/log/include
    - -I../../cdeps/esp-dsp/modules/dotprod/include
    - -I../../cdeps/esp-dsp/modules/support/include
    - -I../../cdeps/esp-dsp/modules/support/mem/include
    - -I../../cdeps/esp-dsp/modules/windows/include
    - -I../../cdeps/esp-dsp/modules/windows/hann/include
    - -I../../cdeps/esp-dsp/modules/windows/blackman/include
    - -I../../cdeps/esp-dsp/modules/windows/blackman_harris/include
    - -I../../cdeps/esp-dsp/modules/windows/blackman_nuttall/include
    - -I../../cdeps/esp-dsp/modules/windows/nuttall/include
    - -I../../cdeps/esp-dsp/modules/windows/flat_top/include
    - -I../../cdeps/esp-dsp/modules/iir/include
    - -I../../cdeps/esp-dsp/modules/fir/include
    - -I../../cdeps/esp-dsp/modules/math/include
    - -I../../cdeps/esp-dsp/modules/math/add/include
    - -I../../cdeps/esp-dsp/modules/math/sub/include
    - -I../../cdeps/esp-dsp/modules/math/mul/include
    - -I../../cdeps/esp-dsp/modules/math/addc/include
    - -I../../cdeps/esp-dsp/modules/math/mulc/include
    - -I../../cdeps/esp-dsp/modules/math/sqrt/include
    - -I../../cdeps/esp-dsp/modules/matrix/mul/include
    - -I../../cdeps/esp-dsp/modules/matrix/add/include
    - -I../../cdeps/esp-dsp/modules/matrix/addc/include
    - -I../../cdeps/esp-dsp/modules/matrix/mulc/include
    - -I../../cdeps/esp-dsp/modules/matrix/sub/include
    - -I../../cdeps/esp-dsp/modules/matrix/include
    - -I../../cdeps/esp-dsp/modules/fft/include
    - -I../../cdeps/esp-dsp/modules/dct/include
    - -I../../cdeps/esp-dsp/modules/conv/include
    - -I../../cdeps/esp-dsp/modules/common/include
    - -I../../cdeps/esp-dsp/modules/matrix/mul/test/include
